.header-left, .header-right { position: absolute; height: 100px; background: #DDDDDD; border-radius: 0px 0px 5px 5px; }

header, footer, .grid-container { position: relative; width: 941px; height: 100px; margin: 0 auto; }

.header-elements, .footer-elements { position: absolute; width: 245px; height: 18px; font-family: HelveticaNeue; font-size: 15px; line-height: 18px; color: #FFFFFF; }

.picture-row-1, .picture-row-2 { height: 200px; font-size: 0px; direction: rtl; white-space: nowrap; clip-path: inset(0vw 0vw 0vw -60vw); }

* { margin: 0px; }

.header-left { width: 301px; }

.header-right { width: 621px; left: 320px; }

.header-elements { left: 80px; top: 39px; }

footer { background: #DDDDDD; border-radius: 5px 5px 0px 0px; }

.footer-elements { left: 81px; top: 42px; display: flex; align-items: flex-end; }

.grid-container { height: 530px; display: grid; grid-template-columns: repeat(12, 60px); grid-template-rows: 50px 200px 200px 50px; gap: 10px 20px; }

.text-box { grid-column: 8 / 12; grid-row: 2 / 4; }

.text-box-text { position: relative; width: 300.93px; font-family: 'Source Sans Pro', sans-serif; font-style: normal; letter-spacing: -0.2px; height: 156px; font-weight: 400; font-size: 18px; line-height: 26px; color: #484A4C; align-items: center; top: 20px; }

h1 { position: relative; width: 300.93px; font-family: 'Source Sans Pro', sans-serif; font-style: normal; letter-spacing: -0.2px; height: 120px; font-weight: 700; font-size: 32px; line-height: 37px; color: #134880; display: flex; align-items: flex-end; }

.picture-row-1 { grid-row: 2 / 4; grid-column: 6 / 8; }

.picture-row-2 { grid-row: 3 / 5; grid-column: 4 / 6; }

img { position: relative; display: inline-block; height: 200px; border-radius: 5px; margin-left: 10px; }

.arrow-left { background: url("../Assets/arrow-gray-left.png") no-repeat; background-position: center; position: relative; width: 60px; height: 60px; margin-bottom: 10px; border: 1px solid #DDDDDD; border-radius: 5px; }

.arrow-left:hover { background: url("../Assets/arrow-blue-left.png") no-repeat; background-position: center; position: relative; width: 60px; height: 60px; margin-bottom: 10px; border: 1px solid #134880; border-radius: 5px; }

.arrow-right { background: url("../Assets/arrow-gray-right.png") no-repeat; background-position: center; position: relative; width: 60px; height: 60px; margin-bottom: 10px; border: 1px solid #DDDDDD; border-radius: 5px; }

.arrow-right:hover { background: url("../Assets/arrow-blue-right.png") no-repeat; background-position: center; position: relative; width: 60px; height: 60px; margin-bottom: 10px; border: 1px solid #134880; border-radius: 5px; }

.arrows { grid-column: 7 / 8; grid-row-start: 3; }
