@import 'variables.scss';
@import 'mixins.scss';

.header-chunks{
    position: absolute;
    height: 100px;
    background: $fgColor;
    border-radius: 0px 0px 5px 5px;
}

.hf{
    position: relative;
    width: 941px;
    height: 100px;
    margin: 0 auto;
}

.hfElems{
    position: absolute;
    width: 245px;
    height: 18px;
    font-family: HelveticaNeue;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.picture-rows {
    height: 200px;
    font-size: 0px;
    direction: rtl;
    white-space: nowrap;
    clip-path: inset( 0vw 0vw 0vw -60vw );
}

* {
    margin: 0px;
}

header {
    @extend .hf;
}

.header-left {
    @extend .header-chunks;
    width: 300px;
}

.header-right {
    @extend .header-chunks;
    width: 621px;
    left: 320px;
}


.header-elements {
    @extend .hfElems;
    left: 80px;
    top: 39px;
}

footer {
    @extend .hf;
    background: $fgColor;
    border-radius: 5px 5px 0px 0px;
}

.footer-elements {
    @extend .hfElems;
    left: 81px;
    top: 42px;
    display: flex;
    align-items: flex-end;

}

.grid-container {
    @extend .hf;
    height: 530px;
    display: grid;
    grid-template-columns: repeat(12, 60px);
    grid-template-rows: 50px 200px 200px 50px;
    gap: 10px 20px;
}

.text-box {
    grid-column: 8 / 12;
    grid-row: 2 / 4;
}

.text-box-text {
    @include sspText(400, 18px, 26px, 156px, $txtColor);
    align-items: center;
    top: 20px;
}

h1 {
    @include sspText(700, 32px, 37px, 120px, $btnSelectedColor);
    display: flex;
    align-items: flex-end;

}

.picture-row-1 {
    @extend .picture-rows;
    grid-row: 2 / 4;
    grid-column: 6 / 8;
}

.picture-row-2 {
    @extend .picture-rows;
    grid-row: 3 / 5;
    grid-column: 4 / 6;
}

img {
	position: relative;
    display: inline-block;
    height: 200px;
    border-radius: 5px;
    margin-left: 10px;
}

.arrow-left {
    @include buttonTheme($fgColor, $arrowLG);
}

.arrow-left:hover{
    @include buttonTheme($btnSelectedColor, $arrowLB);
}

.arrow-right {
    @include buttonTheme($fgColor, $arrowRG);
}

.arrow-right:hover{
    @include buttonTheme($btnSelectedColor, $arrowRB);
}

.arrows{
    grid-column: 7 / 8;
    grid-row-start: 3;
}