$fgColor: #DDDDDD;
$btnSelectedColor: #134880;
$txtColor: #484A4C;

$arrowRG: url("../Assets/arrow-gray-right.png") no-repeat;
$arrowRB: url("../Assets/arrow-blue-right.png") no-repeat;
$arrowLG: url("../Assets/arrow-gray-left.png") no-repeat;
$arrowLB: url("../Assets/arrow-blue-left.png") no-repeat;